html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(#213448, #355980, #4e7aa9);
}

.header {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #94B4C1, #547792, #94B4C1);
    padding: 10px 20px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #94B4C1;
}

.heading{
    padding: 0.5%;
}

h2 {
    color: #ECEFCA;
}

h3 {
    color: #ECEFCA
}

.about {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    color: #ECEFCA;
}

.cv {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    color: #ECEFCA;
}

.experience {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    color: #ECEFCA;
}

.projects {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    color: #ECEFCA;
}

.contacts {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    color: #ECEFCA;
}